<%- include('../resources/head'); -%>


  <body>
    <%- include('../resources/sidebar'); -%>


    <div id="main">
      <button class="openbtn" onclick="openNav()">☰</button>
      <h2>Welcome, <%= Name %>.</h2>
      <p>
        This is where you can view your recent actions.
      </p>
      
      <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

      <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <img src="..." class="rounded me-2" alt="...">
          <strong class="me-auto">Bootstrap</strong>
          <small>11 mins ago</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          Hello, world! This is a toast message.
        </div>
      </div>
    </div>
    
    </div>
      <div class="position-relative">
        <div class="position-absolute top-50 start-50 translate-middle" style="margin-top: 200px;">
        <div class="card" style="width: 200px; background-color: #202c3c; height: 255px;">
          <div class="card-body">
            <div style="text-align:center;">
              <style>
                a {text-decoration: underline; text-decoration-color: red; color: white;}
                a:hover { color: white; }
              </style>
          <% if(userData.length=1){ userData.forEach(function(data){ %>
            <a href="/<%=data.recent1 %>"><%=data.recent1 %></a>
            <br><br>
            <a href="/<%=data.recent2 %>"><%=data.recent2 %></a>
            <br><br>
            <a href="/<%=data.recent3 %>"><%=data.recent3 %></a>
            <br><br>
            <a href="/<%=data.recent4 %>"><%=data.recent4 %></a>
            <br><br>
            <a href="/<%=data.recent5 %>"><%=data.recent5 %></a>
            <% })} else{ %>
              <p>No recents.</p>
            <% } %>
          </div>
          </div>
        </div>
        </div>
      </div>
      </div>
      <script>
        const toastTrigger = document.getElementById('liveToastBtn')
        const toastLiveExample = document.getElementById('liveToast')
        if (toastTrigger) {
          toastTrigger.addEventListener('click', () => {
        const toast = new bootstrap.Toast(toastLiveExample)

        toast.show()
        })
        }
        </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>